<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comité y Seguridad en el Trabajo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>

      table {
        margin: 0 auto;
        border-collapse: collapse;
        text-align: center; 
      }
      
      thead th
      {
      background-color: #0D2496;
      color: #fff;
      }
      
      th {
        border-bottom: 1px solid black;
        border: 2px solid black;
      }
      
      td {
        text-align: center;
        border: 2px solid black;
      }
      
      .principal{
        align-items: center;
        display: flex;
        height: 100vh;
      }
      
      .secundario{
        margin: 0 auto;
      }   
      
      td.general{
        background-color:#778AE7;
      }

    

      tr.especifico{
        font-size: 13px;     
        font-weight:normal;     
        padding: 8px;     
        color: #17202A;
      }
      tab{float: left;}
            .tab-2{margin-left: 50px;}
            .tab-2 input{display: block;margin-bottom: 10px;}

                              
      #btn_comite{
        background-image: linear-gradient(to right, #70e1f5 0%, #ffd194  51%, #70e1f5  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
      }

      #btn_comite:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
     
      form{
        padding:16px;
        border-radius:10px;
        background-color:#ccc;
      }

               
      #btn_elicomite {
        background-image: linear-gradient(to right, #F2994A 0%, #F2C94C  51%, #F2994A  100%);
      }

      #btn_elicomite:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
        #counter-value{
          font-size: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
      }
       
    </style>
  </head>
  <body>
    
    <div class="contaniner-fluid">

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Comité y Seguridad en el Trabajo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <button id="btn_general" data-bs-toggle="modal" data-bs-target="#exampleModal"type="submit">Agregar Comité</button>  
            </div>
          </div>
        </nav>
      
      
        <table id="mytable">
          <thead>
            <tr>
              <th>Nro.</th>
              <th>DNI</th>
              <th>Nombres y Apellidos del CSST</th>
              <th>Tipo de Representación</th>
              <th>Tipo de Cargo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
     
            <tr> 
            </tr <% results.forEach(function(comit) { %> >
            
           <tr>
            <td><%= comit.idcomite %></td>
            <td><%= comit.dni %></td>
            <td><%= comit.nombres %></td>
            <td><%= comit.respresentacion %></td>
            <td><%= comit.cargo %></td>
              <td ><button type="submit" id="btn_elicomite" className='btn btn-primary button_eliminar_comite' onclick = "deleteComite(this)"><a href="/delete/<%= comit.idcomite %>">Eliminar Comité</a></button></td>
            </tr  <% }); %> >
                       
          </tbody>
          </table>  
          
      
      <!-- Agregar Comité Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Comité</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/save" method="POST">

                <div class="mb-3">
                  <label for="idcomite" class="form-label">Nro.</label>
                  <input type="text" class="form-control" id="idcomite" name="idcomite">
                </div>

                <div class="mb-3">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="text"  class="form-control" id="dni" name="dni">
                  </div>

                  <div class="mb-3">
                    <label for="nombres"class="form-label">Nombres y Apellidos del miembro del CSST</label>
                    <input type="text"  class="form-control" id="nombres" name="nombres">
                  </div>

                  <div class="mb-3">
                    <label for="respresentacion" class="form-label">Tipo de Representación</label>
                    <select id="respresentacion" name="respresentacion" class="form-select" aria-label="Default select example">
                      <option value="Representante del empleador" selected>Representante del empleador</option>
                      <option value="Representante del trabajador">Representante del trabajador</option>                
                  </select>
                  </div>

                  <div class="mb-3">
                    <label for="cargo" class="form-label">Tipo de Cargo</label>
                    <select id="cargo" name="cargo" class="form-select" aria-label="Default select example">
                      <option value="Miembro Titular" selected>Miembro Titular</option>
                      <option value="Miembro Titular-Presidente">Miembro Titular-Presidente</option>
                      <option value="Miembro Titular-Secretario">Miembro Titular-Secretario</option>                
                  </select>
                  </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" >Guardar Informacion</button>
                </div>
              </form>
            </div>
            </div>
          </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
     </body>
</html>